<div class="page-header">
	<h1><%= @post.name %>のレシピ</h1>
</div>
<div class='container-fluid'>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
  <p class='recipe'>
    <%= @post.content %>
  </p>
  <% if @post.post_image.attached? %>
  <p>
    <%= image_tag @post.post_image.variant(resize: "400x400"),class:'img-responsive' %> <!--@post.image.thumb.url carrierwaveでは  -->
  </p>
  <% end %>
  
</div>
</div>
</div>

  <div class='menu-button'>
    <ul>
      <li class='li-media'><%= render 'favorite_unfavorite', post: @post %></li>


     <li class='li-media'><%= link_to 'このレシピをお気に入りしたユーザー', favorited_post_path(@post), class:'btn btn-black1' %></li>


     <li class='li-media'><%= link_to 'トップページへ', root_path, class:'btn btn-black1' %></li>

     <% if current_user == @post.user %>

     <li class='li-media'><%= link_to '削除', post_path(@post), method: :delete, class:'btn btn-black1' %></li>

     <% end %>
    </ul>
  </div>
